@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Go to the <a class="btn btn-outline-primary" asp-page="/ChatRoom/Index"> chat rooms</a>!</h3>
</div>
