@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="mt-5"><a class="btn btn-outline-success" asp-page="/ChatRoom/Index">Go to chat rooms</a></h3>
</div>

<div class="text-center">
    <img src="https://camo.githubusercontent.com/2a438ed646f55b8093048cd0536a8ce2bd9bcea5b494940e060ad9a0da901d51/68747470733a2f2f632e74656e6f722e636f6d2f6353754d767035545f4a3841414141642f616e736c6167737461766c616e2d6d69632d64726f702e676966" />
</div>
