@page
@model Anslagstavlan.Pages.ChatRoom.CreateRoomModel

@{
    ViewData["Title"] = "CreateRoom";
}

<h1>CreateRoom</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ChatRoom.ChatRoomName" class="control-label">Chatroom: </label>
                <input asp-for="ChatRoom.ChatRoomName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ChatRoom.PhotoPath" class="control-label">Choose a photo: </label>
                <input type="file" asp-for="ChatRoom.PhotoPath" class="form-control-file" accept=".jpg, .jpeg" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>Back to the list of all <a asp-page="/Index" class="btn btn-outline-success"> chat rooms</a></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
