@page
@model Anslagstavlan.Pages.ChatRoom.DeleteRoomModel

@{
    ViewData["Title"] = "DeleteRoom";
}


<h3>Are you sure you want to delete @Model.ChatRoom.ChatRoomName ?</h3>
<div class="mt-b">
    <hr />
    
    <form method="post">
        <input type="hidden" asp-for="ChatRoom.ChatRoomId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/User/Index">Back to chat rooms</a>
    </form>
</div>
