@page
@model Anslagstavlan.Pages.ChatRoom.EditRoomModel

@{
    ViewData["Title"] = "EditRoom";
}

<h1>Edit this chat room</h1>
<img class="img-thumbnail" style="width:200px;" src="~/img/@Model.ChatRoom.PhotoPath" asp-append-version="true" />
<hr />
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ChatRoom.ChatRoomId" />
                <input type="hidden" asp-for="ChatRoom.PhotoPath" />
                <div class="form-group">
                    <label asp-for="ChatRoom.ChatRoomOwner" class="control-label"></label>
                    <input asp-for="ChatRoom.ChatRoomOwner" class="form-control" />
                    <span asp-validation-for="ChatRoom.ChatRoomOwner" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChatRoom.ChatRoomName" class="control-label"></label>
                    <input asp-for="ChatRoom.ChatRoomName" class="form-control" />
                    <span asp-validation-for="ChatRoom.ChatRoomName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="file" asp-for="@Model.Photo" class="form-control-file" accept=".jpg, .jpeg" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-page="/ChatRoom/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
